.quest{
    background-color:  #d2e6fa;
    width :1100px;
    padding: 15px;
}
.qpallate{
    background-color:  #d2e6fa;
    height:400px;
}
.qbutton{
    border-radius: 50%;
    background-color: "white";
    height:50px;
    width:50px;
}
.submit{
    font-size: 20px;
}